<html>
	<head>
		<title>short.it</title>
		<link rel="stylesheet" type="text/css" href="css/application.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js">
		</script>
	</head>
	<body>
		<%= yield %>
	</body>
</html>